@import "variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "home.scss";
@import "project.scss";
@import "sidebar.scss";
@import "navbar.scss";
@import "form.scss";

body {
  margin: 0;
  background-color: $light;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family;
}


