@import "variables.scss";

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-family;
}

h1{
    color:$light;
    font-size :7rem;
}

h2{
    color:$light;
    font-size :3rem;
    font-weight: bold;
}

p{
    color:$light; 
    font-size:$text-size
}

.home {
    background-image:url(../images/home.jpg); 
    height: 52rem;
}