.h1-home {
    color: $light;
    font-size: 7rem;
    text-shadow: $shadow;
}

.h2-home {
    color: $light;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: $shadow;
}

.p-home {
    color: $light;
    font-size: $text-size;
}

.home {
    background-image: url(../images/home.jpg);
    height: 52rem;
}

