@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$font-family: 'Roboto', sans-serif;
$text-size: 1.05rem;

$light: #f3f1f3;
$primary: #940e89;
$dark:  #141314; 
$secondary:#63025b;