{% extends 'base.html.twig' %}

{% block title %}Compétences
{% endblock %}

{% block body %}
	{% block navbar %}
		{% include 'items/_navbar.html.twig' %}
	{% endblock %}
	<div class="container home">
		<h1 class="project text-center mt-4">
			MES COMPETENCES
		</h1>
		<hr class="ms-5 w-80">
		{% for skill in skills %}
			<h4 class="mt-4">{{ skill.name}}</h4>
			<div class="progress fs-5 rounded" style="height: 30px;">
				<div class="progress-bar text-end " role="progressbar" style="width: {{ skill.level}}%;" aria-valuenow="{{ skill.level}}" aria-valuemin="0" aria-valuemax="100">{{ skill.level}}%</div>
			</div>


		{% endfor %}
	</div>
</div>{% endblock %}
