	<h1 class="project text-center mt-4">
		 ESPACE  ADMINISTRATEUR
		</h1>
		<hr class="ms-5 w-80">
		<nav class="navbar navbar-light bg-light">
<form class="container-fluid justify-content-center">

	<a class="btn btn-primary me-4 rounded-0 boutton" href={{ path('admin_skill_index') }}>COMPETENCES</a>
	<a class="btn btn-primary me-4 rounded-0 boutton" href={{ path('admin_project_index') }}>PROJETS</a>	
    
</form>