{% extends 'base.html.twig' %}

{% block title %}Réalisations{% endblock %}

{% block body %}
{% block navbar %}{% include 'items/_navbar.html.twig' %}{% endblock %}
<div class="container home">
<h1 class= "project text-center mt-4"> MES  REALISATIONS  </h1>
<hr class="ms-5 w-80">
</div>

{% endblock %}
